<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Site Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>

    <header>
        <!-- Logo à gauche -->
        <a href="/">
            <img src="{{ url_for('static', filename='images/background3.jpg') }}" alt="What A Dish Logo" class="logo">
        </a>
        <!-- Titre centré -->
        <div class="title-box">
            <a href="/" >
                <h1>What a dish !</h1>
            </a>
        </div>
    </header>


    <!-- Contenu spécifique de chaque page -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Footer (pied de page) -->
    <footer>
        <p>&copy; 2025 What a Dish - Tous droits réservés</p>
    </footer>

</body>
</html>
