{% extends "base.html" %}

{% block content %}
    <div class="centered">
        <div class="container">
            <div class="image-box">
                <img src="{{ url_for('static', filename='images/background3.jpg') }}" alt="What A Dish Logo">
            </div>
            <div class="align">
                <form method="post">
                    <label for="answer-input" class="reponse"> <strong>Votre réponse :</strong></label>
                    <input class="reponse" type="text" id="answer-input" name="answer" placeholder="Entrez un pays..." required>
                    <button class="white" type="submit">Valider</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
