{% extends "base.html" %}

{% block content %}
    <div class="centered-top-left">
        <section id="rules-step1">
            <h2 class="rule-title">How to play ?</h2>
            <p>You will see the image of a dish accompanied by its name.</p>
            <p class="end-p">Your goal is to <strong>guess its country of origin</strong> by typing your answer. (in English of course !)</p>

            <h3> Points system:</h3>
            <ul>
                <li>✅ Correct answer on the first try : <strong>+100 points</strong></li>
                <li>❌ Wrong answer : <strong>the points you earn after each attempt will be decreased </strong></li>
            </ul>

        <p class="end">Try to get the best score possible ! Good luck ! 🍽️</p>
        </section>
    </div>
{% endblock %}