{% extends "base.html" %}

{% block content %}
    <div class="centered-top-left">
        <section id="rules-step1">
            <h2 class="rule-title">Comment jouer ?</h2>
            <p>Dans cette première étape, vous verrez l'image d'un plat accompagné de son nom.</p>
            <p class="end-p">Votre objectif est de <strong>deviner son pays d'origine</strong> en tapant votre réponse.</p>

            <h3>🎯 Système de points :</h3>
            <ul>
                <li>✅ Bonne réponse : <strong>+10 points</strong></li>
                <li>❌ Mauvaise réponse : <strong>0 point</strong></li>
                <li>⏳ Vous avez <strong>3 tentatives</strong> pour trouver la bonne réponse.</li>
            </ul>

        <p class="end">Essayez d'obtenir le meilleur score possible ! Bonne chance ! 🍽️</p>
        </section>
    </div>
{% endblock %}